**/.metadata
**/Drivers
**/Debug/Core
**/Debug/Drivers
**/Startup
**/.settings
*.bin
*.elf
*.asm
*.list
*.map
makefile
*.cproject
*.mxproject
*.project
*.ld
*.h
!main.h
!software_timer.h
*.c
!main.c
!software_timer.c

